In [1]:
def greet():
    print("Hi Welcome to the session")
greet()

Hi Welcome to the session

In [2]:
def multiply(x,y):
    return x*y
multiply(2,3)

6

In [3]:
def multiply(x,y,z):
    return x*y*z
multiply(2,3,4)

24

In [4]:
def multiply(*x):
    total=1
    for i in x:
        total*=total
    return total
multiply(2,3,4,5)

1

In [5]:
def multiply(*x):
    total=1
    for i in x:
        total*=i
    return total
multiply(2,3,4,5)

120

In [ ]:
multiply(3,4,5,6,7)